# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\yandex_disk_backup_2021.01.20\MyDocs\smarto\dev\code\sandbox\react\react-marathon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
